@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: white;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;

}

form{
    display: flex;
    flex-direction: column;
}

 .input-field{
    position: relative;
}

.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 22px;

}

.input-field input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}


form button[type="submit"]{
    margin-top: 2rem;
    padding: 0.4rem;
    width: 15%;
    background: linear-gradient(to left, #1c0064, #FF0000);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form button[type="submit"]:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #1c0064, #FF0000);
}


.nav-wrapper{
    background: linear-gradient(45deg, 	#1c0064, #008000);

}



