<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Tela Inicial</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="style/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Buscar Contrato</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/novoContrato">Novo</a></li>
            <li><a href="/aVencer">A Vencer</a></li>
            <li><a href="/vencidos">Vencidos</a></li>
        </ul>
    </div>
</nav>
<form method="post" action="/buscarContrato" >
    <input type="text" name="objbusca" placeholder="Buscar por Objeto">
    <button type="submit"><i class="material-icons right">search</i>Buscar</button>

</form>

    <table class="container tabelabusca">
        <thead>
            <tr>
                <th>Ano de Origem</th>
                <th>Contrato</th>
                <th>Objeto</th>
            </tr>
        </thead>
    <tbody>
         <tr th:each="contratos :${contratos}" class="container detalhesBusca">

                    <td><span th:text="${contratos.anoOrigem}"></span></td>
                    <td><span th:text="${contratos.numContrato}"></span></td>
                    <td><span th:text="${contratos.objeto}"></span></td>
                    <td><span><a th:href="@{/editarcontrato/{idcontrato}(idcontrato=${contratos.id})}">Ver</a></span></td>
                    <td><span><a th:href="@{/excluircontrato/{idcontrato}(idcontrato=${contratos.id})}"><i class="material-icons left">delete</i></a></span></td>
                    <!-- <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('EC#excluircontrato').arg(0, contratos.id)).build()}"><i class="material-icons left">delete</i></a></td> -->




        </tr>
    </tbody>
</table>

        <form method="post" action="/telaInicial">
            <button type="submit"><i class="material-icons left">undo</i>Voltar</button>
        </form>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    <!-- <p>Processo: <span th:text="${contratos.processo}"></span></p>
    <p>Valor: <span th:text="${contratos.valor}"></span></p>
    <p>Empresa Contratada: <span th:text="${contratos.empContratada}"></span></p>
    <p>Data Assinatura: <span th:text="${contratos.dataAssinatura}"></span></p>
    <p>Início da Vigência Contratual: <span th:text="${contratos.inicioVigencia}"></span></p>
    <p>Final da Vigência: <span th:text="${contratos.finalVigencia}"></span></p>
    <p>Publicação D.O.U: <span th:text="${contratos.publiDou}"></span></p>
    <p>Observações/Providências a tomar: <span th:text="${contratos.obs}"></span></p>
    <p>Vigência da Garantia Contratual: <span th:text="${contratos.vigenciaGarantia}"></span></p>
    <p>Fiscal: <span th:text="${contratos.fiscal}"></span></p> -->


</body>
</html>