<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Tela Inicial</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="style/styleCss.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Novo Contrato</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/buscarContrato">Buscar</a></li>
            <li><a href="/aVencer">A Vencer</a></li>
            <li><a href="/vencidos">Vencidos</a></li>
        </ul>
    </div>
</nav>


    <form method="post" action="/novoContrato">
        Ano de Origem<input type="date" value="" name="anoOrigem">
        Contrato: <input type="text" value="" name="contrato" placeholder="Somente números e caracteres do tipo “/” ou “-”">
        Processo: <input type="text" value="" name="processo" placeholder="Somente números e caracteres do tipo “/” ou “-”">
        Objeto: <input type="text" value="" name="objeto">
        Valor: <input type="text" value="" name="valor">
        Empresa Contratada: <input type="text" value="" name="empContratada">
        Data Assinatura<input type="date" value="" name="dataAssinatura">
        Início da Vigência Contratual<input type="date" value="" name="inicioVigencia">
        Final da Vigência<input type="date" value="" name="finalVigencia">
        Publicação D.O.U<input type="date" value="" name="publiDou">
        Observações/Providências a tomar:<input type="text" value="" name="obs">
        Vigência da Garantia Contratual: <input type="text" value="" name="vigenciaGarantia">
        Fiscal: <input type="text" value="" name="fiscal">
        <button type="submit">Salvar</button>
    </form>



<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>



</body>
</html>