<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Tela Inicial</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="style/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Novo Contrato</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/buscarContrato">Buscar</a></li>
            <li><a href="/aVencer">A Vencer</a></li>
            <li><a href="/vencidos">Vencidos</a></li>
        </ul>
    </div>
</nav>


    <form method="post" action="/novoContrato" th:object="${contratoobj}">

            <div class="area">
                ID:<input name="id" th:field="*{id}" readonly="readonly">
                Ano de Origem<input type="date" value="" name="anoOrigem" th:field="*{anoOrigem}">
                Contrato: <input type="text" name="numContrato" placeholder="Somente números e caracteres do tipo “/” ou “-”" th:field="*{numContrato}">
                Processo: <input type="text" name="processo" placeholder="Somente números e caracteres do tipo “/” ou “-”" th:field="*{processo}">
                Objeto: <input type="text" name="objeto" th:field="*{objeto}">
                Valor: <input type="text" name="valor" th:field="*{valor}">
                Empresa Contratada: <input type="text" name="empContratada" th:field="*{empContratada}">
                Data Assinatura<input type="date" name="dataAssinatura" th:field="*{dataAssinatura}">
                Início da Vigência Contratual<input type="date" name="inicioVigencia" th:field="*{inicioVigencia}">
                Final da Vigência<input type="date" name="finalVigencia" th:field="*{finalVigencia}">
                Publicação D.O.U<input type="date" name="publiDou" th:field="*{publiDou}">
                Observações/Providências a tomar:<input type="text" name="obs" th:field="*{obs}">
                Vigência da Garantia Contratual: <input type="text" name="vigenciaGarantia" th:field="*{vigenciaGarantia}">
                Fiscal: <input type="text" name="fiscal" th:field="*{fiscal}">
            </div>



        <button type="submit">Salvar</button>
    </form>

    <form method="post" action="/telaInicial">
        <button type="submit"><i class="material-icons left">undo</i>Voltar</button>
    </form>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>



</body>
</html>